
//Product Image

  
  .img-desktop {
    display: none;
  }

  @media (min-width: 700px) {
    .img-desktop {
      display: block;
      max-height: 450px;
      object-fit: contain;
    }

    .img-mobile {
      display: none;
    }
    
    .product-image {
      background-image: url('../images/image-product-desktop.jpg');
    }
  }
