// abstracts/_variables.scss



// Primary

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

//Neutral

$Very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(228, 4%, 55%);
$very-light-Gray: hsl(0, 0%, 98%);
$corpo-Gray: hsl(0, 0%, 81%);