@import "../variables/variables";

.main-container {
    padding-top: 5rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $corpo-Gray;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    overflow: hidden;
}

@media (min-width: 900px) {
    main {
        max-width: 900px;;
        height: 75vh;
        justify-content: center;
    }
}

